<div class="container-fluid" id="home-top">
  <div class="row">
    <div class="col-md-9 left-side">
      <div class="row map-view">
        <div id="map-canvas"></div>
      </div>
      <div class="row visa-view">
        <visa-checker [countries]="countries" (createDataLayers)="createDataLayers($event)"></visa-checker>
      </div>
    </div>
    <div class="col-md-3 right-side">
    <itinerary-planner (createMarker)="geocodeMarker($event)" (resetMapMarkers)="resetMapValues($event)" [locations]="locations" [place]="place"></itinerary-planner>
    </div>
  </div>
</div>