<div class="container-fluid" id="home-top">
  <div class="row" >

    <div class="col-md-9 left-side">
      <div class="row map-view">
        <div id="map-canvas"></div>
      </div>
      <div class="row visa-view">
        <div class="row color-row">
          <div class="col-md-3 color-column">
              <div class="col-md-3 red-box"></div>
              <div class="col-md-9">
                 <strong>Visa-free:</strong><br />{{countryName1.name}}
              </div>
          </div>
          <div class="col-md-3 color-column">
              <div class="col-md-3 yellow-box"></div>
              <div class="col-md-9">
                 <strong>VOA:</strong><br />{{countryName1.name}}
              </div>
          </div>
          <div class="col-md-3 color-column">
              <div class="col-md-3 blue-box"></div>
              <div class="col-md-9">
                  <strong>Visa-free:</strong><br />{{countryName2.name}}
              </div>
          </div>
          <div class="col-md-3 color-column">
              <div class="col-md-3 green-box"></div>
              <div class="col-md-9">
                 <strong>VOA:</strong><br />{{countryName2.name}}
              </div>
          </div>
        </div>
        <div class="row nation-row">
          <div class="col-md-6 nation-box">
            <div class="form-group">
  						<label for="nationalityInput"> Select Nationality 1</label>
  						<select [(ngModel)]="selectedNationalityId1"  class="form-control" id="nationality" name="nationality" >
                  <option value = {{country._id}} *ngFor="let country of countries">{{country.name}}</option>
  						</select>
  					</div>
          </div>
          <div class="col-md-6 nation-box">
            <div class="form-group">
  						<label for="nationalityInput2"> Select Nationality 2 (optional)</label>
  						<select [(ngModel)]="selectedNationalityId2" class="form-control" id="nationality2" name="nationality2" >
                  <option value = {{country._id}} *ngFor="let country of countries2">{{country.name}}</option>
  						</select>
  					</div>
          </div>
        </div>
        <button class="country-button" (click)="loadCountries(selectedNationalityId1, selectedNationalityId2)">Show Visa Requirements</button>

      </div>

    </div>
    <!--div class="col-md-8 left-side"-->

    <div class="col-md-3 right-side">
        <div class="itinerary-box">
          <div class="col-md-1"></div>
          <div class="col-md-12" ng-change="totalDays()" >

            <div class="itinerary">
              <section>

                <div>
                  <h4><span class="white">{{newItinerary.name}}</span></h4>
                  <input id="new-name" [(ngModel)]= "newItinerary.name" type="text" [placeholder] = "placeholder" />
            			<input id="new-address" [(ngModel)]="newAddress" type="text" name="address" [placeholder]= "locationAddress" >
                  <input id="new-date" value="" type="date" name="date"/>
                </div>


                <section id="price-and-transport">
                  <div id="currency-div">
                    <select id="new-currency" [(ngModel)]="newCurrency" class="form-control" name="currency">
                      <option value="$">USD</option>
                      <option value="£">GBP</option>
                      <option value="€">EUR</option>
                      <option value="¥">JPY</option>
                      <option value="NT$">TWD</option>
                    </select>
                  </div>
                  <div id="price-div">
                    <input id="new-price"  [(ngModel)]="newPrice" type="number" name="price" placeholder="Add travel cost" />
                  </div>
                  <div id="transport-div">
                    <select id="new-transport" [(ngModel)]="newTransport" class="form-control" name="transport" >
                      <option value="plane">Plane</option>
                      <option value="train">Train</option>
                      <option value="bus">Bus</option>
                      <option value="boat">Boat</option>
                      <option value="car">Car</option>
                    </select>
                  </div>
                </section>
                <section class="notes" >
                  <input type="checkbox"  (click)="toggleNote()" />Add a note
                  <div class="form-group" *ngIf="checked == true">
                    <input type="text" />
                  </div>
                </section>
              </section>
        			<input id="new-submit" (click)="createPoint()" type="submit" name="" value="Add to list">

              <!-- <input id="new-delete" (click)="deletePoint()" type="submit" name="" value="-"> -->
              <div  class="location-box">
                 <div *ngFor="let location of locations, let i = index">
                   <div *ngIf = "i === 0">
                     <p class="days white">
                       Starting in
                     </p>
                     <div class="location-list">
                       <div class="col-md-11">
                         <div class="location-date">
                           <div class="col-md-12">
                             <strong>{{location.name}}</strong>, <strong>{{location.country}}</strong>
                           </div>
                           <div class="col-md-12">
                             <p> {{location.date | date:'EEE MMMM d, y'}}</p>
                           </div>
                         </div>

                         <div class="currency-and-price">
                            <strong>{{location.currency}}{{location.price}}</strong>   <i>Via {{location.transport}}</i>
                         </div>
                       </div>
                       <div class="col-md-1 delete-input">
                         <div>
                           <input type="hidden" name="" #locationId [(ngModel)]="location.id">
                         </div>
                         <div>
                           <input class="delete" type="submit" value="-" (click)="deletePoint(locationId)" />
                         </div>
                       </div>
                     </div>
                   </div>
                   <div *ngIf = "i !== 0">
                     <p class="days white">
                       For {{itineraryDays[i]}} days
                     </p>
                     <div class="location-list">
                       <div class="col-md-11">
                         <div class="location-date">
                           <strong>{{location.name}} {{location.country}}</strong> {{location.date | date:'EEE MMMM d, y'}}
                         </div>

                         <div class="currency-and-price">
                            <strong>{{location.currency}}{{location.price}}</strong>   <i>Via {{location.transport}}</i>
                         </div>
                       </div>
                       <div class="col-md-1 delete-input">
                         <div>
                           <input type="hidden" name="" #locationId [(ngModel)]="location.id">
                         </div>
                         <div>
                           <input class="delete" type="submit" value="-" (click)="deletePoint(locationId)" />
                         </div>
                       </div>
                     </div>
                   </div>


                 </div>
               </div>
             </div>

             <div class="total-days">
               <span >Total Trip Length: {{sum}} Days</span>
             </div>
             <div class="total-days">
               <span >Total Trip Cost: {{newCurrency}}{{price}}</span>
             </div>
             <div class="save"  (click)="addItinerary()">
               <p>Save itinerary</p>
             </div>
           </div>
           <div class="col-md-1"></div>
         </div>
     </div>
   </div>
 </div>
