<div class="container-fluid overview">
  <div id="user-info">
    <div>
      <strong> Name: </strong><input type="text" [(ngModel)]="user.name" placeholder="Enter new name" />

    </div>
    <div>
      <strong> Username: </strong><input type="text" [(ngModel)]="user.username" placeholder="Enter new email address"
      />
    </div>
    <div>
      <strong>Password: </strong><input type="password" [(ngModel)]="user.password" placeholder="Leave blank to keep old password"
      />
    </div>
    <div>
      <strong>Nationalities: </strong><input type="text" [placeholder]="user.nationalities"
      />
    </div>
    <button class="share" (click)="editUserInfo()"> Edit Details</button>
    <button class="share blue" (click)="deleteUser()">Delete User</button>
  </div>
</div>