.overview {
  margin: 0;
  padding: 0;
  background-image: url('https://fthmb.tqn.com/hJ15yQ7ljpj3Kuk9VZ-LbkMlOa0=/1500x1000/filters:no_upscale():fill(FFCC00,1)/about/SaharaDesert-58c1a5603df78c353c3d525d.jpg');
  background-image: cover;
}

button,
.share {
  color: #fff;
}

button,
.share,
#user-info {
  border-radius: 5px;
}

button {
  background-color: #879dc9;
  box-shadow: 1px 3px 3px 1px #ccc;
}

#user-info {
  background-color: #fff;
  margin: 15% 25% 25%;
  padding: 5%;
}

#user-info > div {
  margin: 5%;
}

.share {
  background-color: red;
  border: 1px solid #879dc9;
  margin: 1% 0 2%;
  box-shadow: 0px 3px 3px 0px #ccc;
}

.blue {
  background-color: #222061;
}
