<div class="fluid-container">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 form-box">
    <form (ngSubmit)="signup()" [formGroup]="newUser">
      <div class="form-group">
        <div class="input-group input-group-unstyled">
          <input id="name" type="text" class="form-control" formControlName="name" placeholder="Your name" />
          <span class="input-group-addon"><i *ngIf="newUser.get('name').valid && newUser.get('name').touched" class="fa fa-check" aria-hidden="true"></i></span>
        </div>
        <span class="help-block" *ngIf="!newUser.get('name').valid && newUser.get('name').touched"> How can we greet you if you don't have a name?</span>
      </div>

      <div class="form-group ">
        <div class="input-group input-group-unstyled">
          <input id="email" type="email" class="form-control" formControlName="username" placeholder="Your email (this will be your username)"
          />
          <span class="input-group-addon"><i *ngIf="newUser.get('username').valid && newUser.get('username').touched" class="fa fa-check" aria-hidden="true"></i></span>
        </div>
        <span class="help-block" *ngIf="!newUser.get('username').valid && newUser.get('username').touched"> Oy! An email-based username is required.</span>

      </div>

      <div class="form-group oi">
        <div class="input-group input-group-unstyled">
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="Your password (at least 6 characters)"
            minlength="6" />
          <span class="input-group-addon"><i *ngIf="newUser.get('password').valid && newUser.get('password').touched" class="fa fa-check" aria-hidden="true"></i></span>
        </div>
        <span class="help-block" *ngIf="!newUser.get('password').valid && newUser.get('password').touched">Sorry! Passwords are required and must be at least 6 characters long.</span>
      </div>

      <div formArrayName="nationalities" class="btn-group dropdown form-group nationality-input">
        <label for="nationality1">Nationality</label>
        <input #nationality id="nationality1" type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
          aria-haspopup="true" placeholder="Select as many nationalities as you want" (keyup)="filterNationalities($event.target.value)"
        />
        <span class="help-block" *ngFor="let nationality of selectedNationalities"> {{ nationality}} <i (click)="onDeleteNationalityFromList(nationality)" class="fa fa-times" aria-hidden="true"></i></span>
        <ul class="dropdown-menu nationality-dropdown-menu">
          <li *ngFor="let nationality of nationalities | searchFilter: searchterm" (click)="onAddNationality(nationality)">{{ nationality }}</li>
        </ul>
      </div>

      <button class="btn btn default" [disabled]="!newUser.valid" type="submit"> signup </button>
      <h4 *ngIf="error"> {{ error }} </h4>
    </form>
  </div>
  <div class="col-md-3">

  </div>
</div>