input.ng-touched {
  border-color: blue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-touched.ng-valid {
  border-color: green;
}

.fluid-container {
  margin: 0;
  padding: 0;
  background-image: url('http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1477342854/positano-amalfi-coast-italy-AMALFI1024.jpg?itok=Aa5bXDAF');
  background-size: cover;
  height: 100vh;
}

.form-box {
  margin: 5% 0;
  padding: 5%;
  text-align: center;
  background-color: #eeedec;
  border-top: 1px solid black;
  box-shadow: 1px 3px 3px 1px black;
}

.form-box,
.button {
  border-radius: 5px;
}

input,
button {
  width: 100%;
}

h4 {
  margin: 5% 0 2%;
}

button {
  background-color: #222061;
  margin-top: 1%;
  color: #fff;
  padding: 1% 2%;
  box-shadow: 3px 3px 3px 1px #ccc;
}


