@import 'src/styles/variables';

.container-fluid{
  height: 100vh;
  background-image: url('http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/homepage/pagePropertiesImage/bali-guide.jpg.jpg');
  background-size: cover;
}

.notice{
  background-color: $light-blue;
  color: white;
  border-radius: 5px;
  text-align: center;
}
