.container-fluid{
  height: 100vh;
  overflow: scroll;
  background-color: #ccc;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flight-search{
  border-radius: 5px;
  height: 25vh;
  margin: 1% 2% 0 2%;
  padding-top: 2%;
  background-color: #879dc9;
  box-shadow: 0px 3px 10px 1px black;

}
.flights, .dates{
  background-color: #fff;
  border-radius: 5px;
  margin: 1% 0;
  box-shadow: 0px 3px 10px 1px black;

}
#departure, #arrival{
  width: 95%;
  border-radius: 5px;
  margin: 2%;
}

#departure-date-start, #departure-date-end, #return-date-start, #return-date-end{
  width: 35%;
  border-radius: 5px;
  margin: 1%;
}

#search-button{
  background-color: #222061;
  border-radius: 5px;
  color: #fff;
  margin-top: 1%;
}

#loading{
  margin: 5%;
}
.search-result-container{
  height: 75vh;
  margin: 2% 2% 1% 2%;
  overflow: scroll;
  background-color: #879dc9;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 1px #ccc;

}

.map, .search-result{
  height: 100%;
  background-color: #fff;
  padding: 1%;
}

.map{
  border-radius: 5px 0 0 5px;
}

#map-canvas{
  height: 100%;
  box-shadow: 1px 3px 3px 1px #ccc;

}

.search-result{
  border-radius: 0 5px 5px 0;
  overflow: scroll;
}

.results{
  background-color: #F8F8FF;
  height: 100%;
  box-shadow: 0px 3px 3px 1px #ccc;
  margin-bottom: 1%;
  max-width: 100%;
}



.pricing{
  margin: 10% 0;
  display: flex;
  flex-direction: column;
}

.pricing > h3{
  margin: 1% 1% -1% 1%;
  /*border: 1px solid black;*/
}

.routes{
  margin: 5% 0;
}

.airline{
  margin-top: 1%;
}
.ind-route{
  box-shadow: 0px 3px 3px 1px #ccc;
  border-top: 1px solid #ccc;
  background-color: #fff;
  overflow: scroll;
  /*height: 100%;*/
  margin-bottom: 1%;
}

.ind-route:hover{
  box-shadow: 0px 3px 3px 3px #ccc;
  /*border: 1px solid blue;*/
}
