.container-fluid {
  height: 100vh;
  background-color: #ccc;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flight-search,
.flights,
.dates,
#departure,
#arrival,
#departure-date-start,
#departure-date-end,
#return-date-start,
#return-date-end,
#search-button,
.search-result-container {
  border-radius: 5px;
}

.flight-search {
  height: 25vh;
  margin: 1% 2% 0 2%;
  padding-top: 2%;
  background-color: #879dc9;
  box-shadow: 0px 3px 10px 1px black;
}

.flights,
.dates {
  margin: 1% 0;
  box-shadow: 0px 3px 10px 1px black;
}

#departure,
#arrival {
  width: 95%;
  margin: 2%;
}

#departure-date-start,
#departure-date-end,
#return-date-start,
#return-date-end {
  width: 35%;
  margin: 1%;
}

#search-button {
  background-color: #222061;
  color: #fff;
  margin-top: 1%;
}

#loading {
  margin: 5%;
}

.search-result-container {
  height: 75vh;
  margin: 2% 2% 1% 2%;
  background-color: #879dc9;
  padding: 1%;
  box-shadow: 0px 3px 6px 1px black;
}

.container-fluid, .search-result-container, .ind-route, .search-result {
  overflow: scroll;
}

.map, .search-result, .ind-route, flights,
.dates {
  background-color: #fff;
}

.map,
.search-result {
  height: 100%;
  padding: 1%;
}

.map {
  border-radius: 5px 0 0 5px;
}

#map-canvas {
  height: 100%;
  box-shadow: 1px 3px 3px 1px #ccc;
}

.search-result {
  border-radius: 0 5px 5px 0;
}

.results {
  background-color: #f8f8ff;
  height: 100%;
  max-width: 100%;
}

.results, .ind-route {
  box-shadow: 0px 3px 3px 1px #ccc;
  margin-bottom: 1%;
}

.pricing {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
}

.pricing > h3 {
  margin: 1% 1% -1% 1%;
}

.routes {
  margin: 5% 0;
}

.airline {
  margin-top: 1%;
}

.ind-route {
  border-top: 1px solid #ccc;
}

.ind-route:hover {
  box-shadow: 0px 3px 3px 3px #ccc;
}
