@import 'src/styles/variables';

.fluid-container {
  margin: 0;
  padding: 0;
  background-image: url('https://fthmb.tqn.com/hJ15yQ7ljpj3Kuk9VZ-LbkMlOa0=/1500x1000/filters:no_upscale():fill(FFCC00,1)/about/SaharaDesert-58c1a5603df78c353c3d525d.jpg');
  background-image: cover;
}

input.ng-touched {
  border-color: blue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-touched.ng-valid {
  border-color: green;
}

.form-box {
  margin: 5% 0;
  padding: 5%;
  text-align: center;
  background-color: #eeedec;
  border-top: 1px solid black;
  box-shadow: 1px 3px 3px 1px black;
}

.form-box,
.button {
  border-radius: 5px;
}

input,
button {
  width: 100%;
}

h4 {
  margin: 5% 0 2%;
}

button {
  background-color: $dark-blue;
  margin-top: 1%;
  color: #fff;
  padding: 1% 2%;
  box-shadow: 3px 3px 3px 1px $shadow;
}

.nationality-input {
  display: block;
}

.nationality-dropdown-menu {
  width: 100%;
  text-align: center;
}

i, li:hover {
  cursor: pointer;
}

li:hover {
  background-color: blue;
  color: white;
}

.input-group-unstyled {
  width: 100%;
}


.input-group.input-group-unstyled input.form-control {
    border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.input-group-addon{
  color: green;
}