<div class="container-fluid">
  <div class="row nation-row">
      <div class="col-xs-12 btn-group dropdown form-group nationality-input">
        <label for="nationality1">Nationality</label>
        <input id="nationality1" type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
          aria-haspopup="true" placeholder="Select up to two nationalities" (keyup)="filterNationalities($event.target.value)"
        />
        <span class="help-block" *ngFor="let nationality of selectedNationalities"> {{ nationality}} <i (click)="onDeleteNationalityFromList(nationality)" class="fa fa-times" aria-hidden="true"></i></span>
        <ul class="dropdown-menu nationality-dropdown-menu">
          <li *ngFor="let country of countries$ | searchFilter: searchterm" (click)="onAddNationality(nationality)">{{ nationality }}</li>
        </ul>
      </div>
      
      <!--<select [(ngModel)]="selectedNationalityId1" class="form-control" id="nationalityInput" name="nationality">
          <option value = {{country._id}} *ngFor="let country of countries$">{{country.name}}</option>
        </select>-->
  </div>
  <div class="row">
    <div class="col-xs-12 country-wrapper">
      <button class="country-button" (click)="selectCountries(selectedNationalityId1, selectedNationalityId2)">Show Visa Requirements</button>
    </div>
  </div>
</div>