@import 'src/styles/variables';

*{
  color: #fff;
  margin: 0
}

.nation-box,
.country-button {
  border-radius: 5px;
}

.nation-row {
  padding: 1% 0;
  margin: 2% 0%;
  // box-shadow: 3px 3px 3px 3px #ccc;
}

.country-wrapper{
  text-align: center;
}
.country-button {
  background-color: $dark-blue;
  margin-top: 1%;
  padding: 1% 2%;
}

.nationality-input {
  display: block;
}

.nationality-dropdown-menu {
  width: 100%;
  text-align: center;
}
