$dark-blue: #222061;
$light-blue: #879dc9;
$shadow: #ccc;
$orange: #ff401c;
$main-background: #F4F6F8;
$nav-background: #FFFFFF;
$primary-text: "Helvetica Neue", "Helvetica", sans-serif;
$dark-grey: #5B6B6D;
$non-active-grey: #9EB7C2;
$active-grey: #5B6B6D;
$logo: #FF410C;

