<div class="container-fluid" id="home-top">
  <div class="row">
    <div class="col-xs-12 col-md-9 left-side">
      <div class="row map-view">
        <div id="map-canvas"></div>
      </div>
      <div class="row visa-view">
        <div class="col-xs-12">
          <visa-checker [countries$]="countries$ | async"></visa-checker>
        </div>
      </div>
    </div>
    <div class="col-md-3 right-side">
      <itinerary-planner (createMarker)="geocodeMarker($event)" (onAddItinerary)="addItinerary($event)" [locations]="locations"></itinerary-planner>
    </div>
  </div>
</div>