@import 'src/styles/variables';

.fluid-container,
.row,
.left-side,
.right-side {
  margin: 0;
  padding: 0;
}

#home-top {
  box-shadow: inset 5px 0 5px $shadow;
}

.left-side,
.right-side {
  height: 100vh;
}

.map-view {
  height: 65vh;
}

#map-canvas {
  height: 100%;
}

.visa-view {
  height: 35vh;
  background-color: #fff;
  text-align: center;
}

.goto {
  background-size: contain;
  height: 10vh;
  margin: 0 15%;
}

.itinerary-container {
  height: 100vh;
  box-shadow: inset 5px 0 5px $shadow;
  padding-top: 5%;
}
.itinerary-wrapper {
  margin: 0 5%;
  box-shadow: 3px 3px 3px 3px $shadow;
  border-radius: 5px;
}

.itinerary {
  padding: 2% 2% 2% 3%;
  border-radius: 5px 5px 0 0;
  background-color: $light-blue;
}

.itinerary,
.itinerary-box {
  overflow: scroll;
}

.visa-view {
  height: 35vh;
  text-align: center;
}

.visa-view,
.color-row {
  background-color: #fff;
}

.color-column {
  height: 100%;
  margin-bottom: 1%;
}

.yellow-box,
.red-box,
.blue-box,
.green-box {
  height: 2vh;
  margin-top: 1%;
  width: auto;
  border-radius: 5px;
  border: 1px solid $shadow;
  box-shadow: 1px 3px 3px 1px $shadow;
}

.yellow-box {
  background-color: yellow;
}

.red-box {
  background-color: red;
}

.blue-box {
  background-color: blue;
}

.green-box {
  background-color: green;
}
