button {
  background-color: #879dc9;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 1px #ccc;
}

.left-side > div {
  margin: 5% 2%;
}

.img-div {
  height: 20vh;
  margin: 0 2%;
}
.img-circle {
  max-width: 100%;
  max-height: 100%;
}

.white, .button {
  color: #fff;
}
