<div class="left-side">
  <div>
    <h4>Welcome back, {{user.name}}</h4>
  </div>
  <div class="img-div">
    <img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-35-512.png" />
  </div>
  <div>
    <strong><button type="submit" (click)="navigateTo(user._id)">  User Overview  </button></strong>
  </div>
  <div>
    <strong><button type="submit" (click)="navigateTo(user._id, 'edit')"> Edit User </button></strong>
  </div>
  <div>
    <strong> <button ng-model="view" type="submit" (click)="navigateTo(user._id, 'itineraries')">View itineraries </button></strong>
  </div>
  <div>
    <strong><button  ng-model="view" type="submit"  (click)="navigateTo(user._id, 'countries_visited')" name="View countries visited" value="country">View countries visited</button></strong>
  </div>
</div>