.overview {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://fthmb.tqn.com/hJ15yQ7ljpj3Kuk9VZ-LbkMlOa0=/1500x1000/filters:no_upscale():fill(FFCC00,1)/about/SaharaDesert-58c1a5603df78c353c3d525d.jpg');
  background-image: cover;
}

.map-view {
  margin: 0;
  height: 65vh;
}

#map-canvas {
  height: 100%;
}
