.overview {
  padding: 0;
}

.overview, .itinerary-box, .blue-text {
  margin: 0;
}

button {
  box-shadow: 1px 3px 3px 1px #ccc;
}

button, .country-button, .location-list-details, .delete, .share {
  border-radius: 5px;
}

button, .location-box {
  background-color: #879dc9;
}

.map-view {
  height: 60vh;
}

.map-canvas, .profile-itinerary, .total-days {
  height: 100%;
}

button, .country-button, .white, .delete, .share {
  color: #fff;
}

.country-button, .blue {
  background-color: #222061;
}

.country-button {
  padding: 1% 2%;
  box-shadow: 3px 3px 3px 1px #ccc;
}

.itinerary-box {
  background-color: #ccc;
  height: 34vh;
  padding-top: 2%;
}

.location-box,
.location-list,
.list-row {
  display: flex;
}

.location-box {
  border-radius: 5px 5px 0 0;
  padding: 0 5%;
}

.location-list, .location-list-details {
  width: 100%;
}

.location-list-details {
  text-align: center;
  background-color: #eeedec;
  border-bottom: 1px solid black;
  margin: 10% 0;
}

.location-list-days {
  margin: 20% 20% 5% 5%;
  padding-right: 5%;
}


.blue-text {
  color: #879dc9;
}

.delete, .share {
  background-color: red;
}

.delete, .total-days, .country-button {
  margin-top: 1%;
}

.delete {
  padding: 0 2%;
  box-shadow: 3px 3px 3px 1px #ccc;
}

.total-days, .share {
  border: 1px solid #879dc9;
}

.total-days {
  background-color: #fff;
  color: #879dc9;
  border-radius: 0 5px 5px 0;
  padding: 2%;
  box-shadow: 3px 3px 3px 3px #ccc;
}

.share {
  text-align: center;
  margin: 1% 0 2%;
  box-shadow: 0px 3px 3px 0px #ccc;
}

.green-box {
  border: 1px solid #ccc;
  background-color: green;
}
