@import 'src/styles/variables';

.row {
  margin: 0;
  padding: 0;
}

.selector-view {
  height: 25vh;
  background-color: $main-background;
}
.map-view {
  height: 75vh;
}

#map-canvas {
  height: 100%;
}
