.fluid-container{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('http://www.switchbacktravel.com/sites/default/files/images/articles/Los%20Glaciares%20Patagonia.jpg');
  background-size: cover;
}


.panel{
  margin-top: 10%;
}
.form-box{
  margin: 5% 0;
  padding: 5%;
  text-align: center;
  background-color: #eeedec;
  border-top: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 1px black;

}

input, button{
  width: 100%;
}

h4{
  margin: 5% 0 2%;
}

button{
  background-color: #222061;
  border-radius: 5px;
  margin-top: 1%;
  color: #fff;
  padding: 1% 2%;
  box-shadow: 3px 3px 3px 1px #ccc;
}
