body, .container-fluid{
  margin: 0;
  padding: 0;
  }

  .white{
    color: #fff;
  }

  .navbar{
    border-radius: 0;
    padding: 0 2%;
    margin: 0;
  }

footer {
  padding: 2% 1% 0;
  background-image:url('http://www.wallpaperup.com/uploads/wallpapers/2014/07/10/393089/7efae7f6dce13596b70641cc2b274431.jpg');
  background-size: cover;
  height: 100vh;
  color: #fff;

}

footer  h2{
  position: fixed;
  text-align: center;
  background-color: #222061;
  border-radius: 5px;
  margin: 0 25%;
  padding: 2%;
}

footer p {
  padding: 15% 5% 10%;
  margin: 0 2% 1%;
  background-color: #222061;
  border-radius: 5px;
}

.data-needs, .currency, .flights{
  text-align: center;
  flex-wrap: wrap;
}


.row{
  margin-top: 10%;
}

.visa-script{
  margin-top: 8%;
  margin-left: 13%;
}

.goto{
  background-image:url('../assets/goto.jpg');
  background-size: contain;
  height: 10vh;
  margin: 10% 15% 0;
}

.go-to-flights{
  background-color: #222061;
  border-radius: 5px;
  /*padding-top: 1%;
  padding-right: 1%;*/
  padding: 1% 1% 5% 0;
}

#down-arrow{
  margin-top: 2%;
}
